* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fauna One', serif;
  color: tan;
  font-size: 25px;
  background-image: url("file:///C:/Users/Dan/OneDrive/Pictures/Digital%20Pix/Roscoe.jpg");
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

background-repeat: no-repeat;

}
h1 {
  font-family: 'Bilbo Swash Caps', cursive;
}